<style>
	
    .modal-header{
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
}  
.modal-body {
    position: relative;
    padding: 10px 15px;
}
.modal-footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.modal-footer button{
    padding: 5px 25px;
    background-color: #006d07;
    color: #fff;
}
.tracking_btn {
    padding: 5px 10px;
}
.modal-title {
    font-size: 17px;
	text-transform: uppercase;
}
</style>
<div ng-controller="orderdetails" ng-init="ordersDetalisInit()" >


        <header class="container-fluid nav-down">
                <div class="row">
                    <nav class="navbar navbar-inverse">
                      <div class="container no-padding">
                        <ul class="nav navbar-nav top_header">
                          <li class="menu_icon "><a href="javascript:void(0)"  ><img src="assets/img/icon/back.png" ng-click="home();" alt="menu icon"style="width: 13px;" /></a></li>
                            <li class="page_name left">
                                <a href="javascript:void(0)" class="text-left ">
                                    <p>Order ID: <span>{{detail.order_id}}</span></p>
                                </a>
                            </li>
                          
                        </ul>
                        <ul class="nav navbar-nav bottom_header">
                          <li class="menu_search_container"><a href="javascript:void(0)">
                            <!--<img src="assets/img/header/search_icon.png" alt="cart icon" />-->
                            <input type="text" class="menu_search" placeholder="Search products brands and more"/>
                          </a></li>
                        </ul>
                      </div>
                    </nav>
                
                </div>
                <!-- MOBILE-MENU-AREA END -->
            </header>
            <!-- END HEADER -->
            
            <!--  [PULSES] Sub categories content -->
                <div class="container-fluid mt-55">
                    <div class="row">
                        <div class="">
                            <!-- ** Buttons** -->
                            <div class="pulses_buttons  tracking_main_container db_order_div">
            
                                <h5 class="tracking_heading db_track">
                                    <span>
                                        <img src="assets/img/db_orderl.png">
                                    </span>{{detail.delivery_date}}
                                </h5>
                                <!-- <h5 class="tracking_heading db_track">
                                    <span>
                                        <img src="assets/img/db_clock.png">
                                    </span>{{detail.ORDER_TIME}}
                                </h5> -->
                                
                                <input type="button" class="btn btn-default tracking_btn ticket_process_btns ticket_pending" name="" ng-if="detail.status != '3'" ng-value="detail.order_type">
                                <input type="button" class="btn btn-default tracking_btn ticket_process_btns ticket_pending" name="" ng-if="detail.status == '3'" value="Out For Delivery">
                                
                            </div>
                            <!-- ** !. Buttons ** -->
                            
                            <!-- ** Product Lists ** -->
                            <!-- About Product Of a Customer -->
                            <div class="about_customer">
                                <div class="cust_address">
                                    <h4 class="cust_name">{{detail.CUSTOMER_NAME | ucwords}}</h4>
                                    <p class="cust_residence">{{detail.delivery_address.address | ucwords}}, {{detail.delivery_address.CITY_NAME}}, {{detail.delivery_address.COUNTRY_NAME}}, {{detail.delivery_address.landmark}}, {{detail.delivery_address.zipcode}}</p>
                                    <p class="cust_residence">Mobile No:- {{detail.mobile_number}}</p>
                                </div>
                                <div class="order_type">
                                    <div class="cod"><a href="javascript:void(0)">{{detail.order_by_leble}}</a></div>
                                </div>
                                <div class="call_customer"  ng-if="detail.status != '5'" ng-click="callCustomer(detail.mobile_number)">
                                    <div class="cust_no pl-15 pr-15"><a href="javascript:void(0)">Call Customer</a></div>
                                </div>
                                <div class="view_map"  ng-if="detail.status != '5'">
                                    <div class="cust_location"><a href="javascript:void(0)" ng-click="orderlocationPoint(detail.delivery_address.lattitude, detail.delivery_address.longitude)">View Map</a></div>
                                </div>
                            </div>
                            <!-- About Product Of a Customer Ends -->
            
                            <!-- Item Number-->
                            <div class="db_items">
                                <h4>{{'Item_Details'  | translate}}</h4>
                                <p>{{'Total_No_Of_Items'  | translate}} - <span>{{detail.total_items}}</span></p>
                            </div>
                            <div class="main_item_div" >
                                <div class="db_item_main" ng-repeat="x in detail.items">
                                    <div class="item_img_container">
                                        <div><img src="{{x.product_image}}"></div>
                                    </div>
                                    <div class="about_db_item">
                                        <h4>{{x.MENU_NAME}}</h4>
                                        <p>{{'Units' | translate}} <span class="ml-25">{{x.UNIT_VALUE}}{{x.FS_UNIT_NAME}}</span></p>
                                        <p>{{'Price' | translate}}  <span class="ml-25">{{currency}} {{x.unit_price}}</span></p>
                                        <p>{{'VAT' | translate}}  <span class="ml-25">{{currency}}  {{x.tax_amount}}</span></p>
                                        <p>{{'Qty' | translate}}  <span class="ml-25">{{x.quantity}}</span></p>
                                        
                                    </div>
                                </div>
                               
                                <div class="item_total">
                                    <h4>{{'Total_Order_Amount'  | translate}}: <span>{{currency}} {{detail.FINAL_AMOUNT}}</span></h4>
                                    <h4 ng-if="detail.IS_WALLET_USED == 1">{{'Amount_Paid_From_Wallet'  | translate}}: <span>{{currency}} {{detail.WALLET_USED_AMOUNT}}</span></h4>
                                    <h4 ng-if="detail.amount_to_be_received > 0">{{'Amount_To_Be_Collected'  | translate}}: <span>{{currency}} {{detail.amount_to_be_received}}</span></h4>
                                </div>
                            </div>
                            <div class="update_status" ng-if="detail.status != '5'">
                                <div><a href="javascript:void(0)" ng-click="update_order()" >{{'Update_Status'  | translate}}</a></div>
                            </div>
                            <!-- Item Number Ends-->
                            
                        </div>
                    </div>
                </div>
            <!--  !. [PULSES] Sub categories content -->
            <!-- modal box -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-vcenter">
              <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center" ng-click="update_order()">Update Status</h4>
                  </div>
                  <div class="modal-body">
                    <!-- Content Of modal-->
                            <div class="radio mb-20 mt-10">
                                <input id="radio-1" name="radio" type="radio">
                                <label for="radio-1" class="radio-label"><span>On the way</span></label>
                            </div>
                          <div class="radio mb-20">
                            <input id="radio-2" name="radio" type="radio">
                            <label for="radio-2" class="radio-label"><span>Delivered</span></label>
                          </div>
                          <div class="radio mb-20">
                            <input id="radio-3" name="radio" type="radio">
                            <label for="radio-3" class="radio-label"><span>Cancelled</span></label>
                          </div>
            
                    <!-- Content Of modal-->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                  </div>
                </div>
            
              </div>
              </div>
            </div>	
            
                
            <script>
            
                
            $(document).ready(function(){
                $(".cart_icon a:last-child").click(function(){
                    //alert();
                    $(".bottom_header").slideToggle();
                    //$("#banner_slider").toggleClass("search-container")
                });	
            });
                </script>	
</div>